@import 'tailwindcss';

@font-face {
  font-family: 'Russo One';
  src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Cloister Black';
  src: url('../fonts/CloisterBlack.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@theme {
  --font-russo: 'Russo One', sans-serif;
  --font-cloister: 'Cloister Black', serif;
  --font-inter: 'Inter', sans-serif;

  --color-primary: #e0e0e0;
  --color-secondary: #03110d;
  --color-accent: #06302b;
  --color-tertiary: #a38560;
  --color-destructive: #710014;
}

body {
  @apply font-inter bg-primary text-secondary;
}
